header {
    margin: 0 0 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px 1px rgba(150, 150, 150, 0.8);
    justify-content: space-between;
    
    .header-logo {
        width: 66px;
    }

    &.header-theme__light {
        background-image: linear-gradient(to bottom, black , indigo, blueviolet, indigo, black);
    }

    &.header-theme__dark {
        background-image: linear-gradient(to bottom, black , rebeccapurple, black);

        nav {
            
            a,
            a:active,
            a:visited,
            .logout-link {
                align-items: right;
                color: white;
                &:hover {
                    text-shadow: 1px 1px 2px blueviolet;
                }

            }


        }

        .header-theme-toggle {
            border-radius: 50%;                
        }
    }

    .header-theme-toggle {
        display: inline-block;
        vertical-align: text-bottom;
        width: 1.8rem;
        opacity: 0.8;
        cursor: pointer;
        transition: opacity 0.15s linear;

        &:hover {
            opacity: 1;
        }
    }

    nav {
        align-items: right;
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 1rem;
        vertical-align: bottom;
        justify-content: right;
        font-family: 'Nunito Sans', sans-serif;
        font-size: large;
        padding: 0;    
    
        a,
        a:active,
        a:visited,
        .logout-link {
            text-decoration: none;
            color: white;
            opacity: 0.5;
            transition: all 0.15s linear;
            margin: .5rem;
            cursor: pointer;

            &:hover {
                opacity: 1;
                text-shadow: 1px 1px 2px #555;
                color: white;
            }
        }

        .logout-link {
            display: inline;
            margin: 0;
            margin-left: .5rem;
            margin-right: -.5rem;
        }
    }
}

h1, h6, h2 {
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-size: 70px;
    font-family: 'Cabin Sketch', sans-serif;
}

h2 {
    margin-left: .5rem;
    display: inline-flex;
    font-size: 35px;
    font-family: 'Cabin Sketch', sans-serif;
}

h6, p {
    font-size: large;
    font-family: 'Nunito Sans', sans-serif;

}

.test {
    
}
