 Input, textarea {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 600px;
    margin: auto;
    
}

Input::placeholder, textarea::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    
    opacity: 60%;
}

Input, textarea, button {
    border-style: inset;
    border-width: 3px ;
    border-color: purple;
    background-color: white;
}

Label {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 8px;
    color: white;
}

textarea {
    height: 100px;
    max-height: 400px;
}

.form-label {
    text-align: center;
}

button {
    display: flex;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    color: purple;
    margin: 1rem auto;
    }

    #new-thread {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }