*{
    color: grey;
 }
 
 Input, textarea {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 600px;
    margin: auto;
}

Label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

textarea {
    height: 100px;
    max-height: 400px;
    background-color: white;
}

.form-label {
    text-align: center;
}

button {
    display: flex;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    margin: 1rem auto;
    }



